.background{
    background-color: rgb(244, 121, 76);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.linkBack {
    background-color: rgba(255,192,136,1);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.linkBack:hover {
    background-color: rgb(246, 148, 62)
}

.box{
    background-color: rgb(255, 192, 136);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 10px;
    padding: 50px 0 ;
    border-radius: 15px;
    box-shadow: 0 0 0px 10px rgba(0,0,0,0.3);
}

.boxText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 5px;
}

.boxImg {
    width: 300px;
}